<h2 align="center">Title: <%= @article.title %> </h2>
<div class="well col-xs-12 col-xs-offset-2">
  <h4><Strong>Description:</Strong></h4>       
  <hr>
  <p align="center"><%= @article.description %></p>
 
  <div class="btn btn-default btn-success">
  <%= link_to "Go back to the index page", articles_path %>
  </div>
</div> 
