<h3> Details of the submitted Article:</h3>

<p>
     Title: <%= @article.title %> 
</p>
</br>
<p>
     Description: <%= @article.description %>
</p>

<%= link_to "Go back to the index page", articles_path %>